/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
  max-width: 100%;
}

/* FONTS */
@font-face {
    font-family: 'jost';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
         url('../fonts/jost-v13-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jost-v13-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'jost';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/jost-v13-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/jost-v13-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'circe';
    src: url('../fonts/circe-bold-webfont.woff2') format('woff2'),
         url('../fonts/circe-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'circe';
    src: url('../fonts/circe-regular-webfont.woff2') format('woff2'),
         url('../fonts/circe-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Common styles */
body {
    width: 100%;
    background-color: #EEEFF7;
    color: #3A3F6C;
    font-weight: normal;
    font-size: 12px;
    font-family: 'circe';
}
.container {
    max-width: 1170px;
    padding-bottom: 30px;
}
.wrapper {
    display: flex;
}
.main-title {
    font-size: 30px;
    line-height: 65px;
    font-weight: normal;
    margin-bottom: 20px;
}
.button {
    outline: none;
    border: none;
    color: #ffffff;
    transition: all .3s linear;
    cursor: pointer;
}
.button:hover {
    transform: scale(.95);
}
.button_green {
    width: 150px;
    padding: 14px 0;
    background-color: #51C486;
    text-transform: uppercase;
    box-shadow: 0px 2px 12px rgba(98, 247, 167, 0.55);
}
.button_new-user {
    width: 264px;
    padding: 14px 40px 14px 50px;
    background-image: url(../images/icons/plus.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 26px 15px;
}
.button_gray {
    width: 120px;
    padding: 14px 5px;
    background-color: #707387;
    box-shadow: 0px 2px 12px rgba(112, 115, 135, 0.44);
}
.button-reset {
    width: 250px;
    padding: 14px 0;
    color: #3A3F6C;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 1px solid #DEE0EE;
    margin-left: 13px;
}
.button_plus {
    width: 62px;
    height: 42px;
    background-image: url(../images/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
}
.field {
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
    padding: 7px 10px;
    font-size: 12px;
    outline: none;
}
.field::placeholder {
    color: #3A3F6C;
}
.field_gray::placeholder {
    color: #9EA1B4;
}
.field_error {
    border: 1px solid #F73A3A;
}
.field_search {
    position: relative;
    width: 172px;
    padding: 13px;
}
.field_search::placeholder {
    color: transparent;
}
.field_date {
    width: 100%;    
    padding: 13px 14px 13px 38px;
    background-image: url(../images/icons/calendar.svg);
    background-repeat: no-repeat;
    background-position: 14px center;
    background-size: 12px;
}
.field_date::placeholder {
    color: #3A3F6C;
    font-family: 'jost';
}
.field_big {
    width: 180px;
    margin-right: 8px;
    padding: 13px 10px;
}
.field_little {
    width: 149px;
    margin-right: 8px;
    padding: 13px 10px;
}
.field_big::placeholder, .field_little::placeholder {
    color: #3A3F6C;
    font-size: 12px;
}
.field_token {
    width: 149px;
    margin-right: 8px;
    padding: 14px 18px;
}
input:focus::-webkit-input-placeholder { 
    color:transparent; 
}
input:focus:-moz-placeholder { 
    color:transparent; 
}
input:focus::-moz-placeholder { 
    color:transparent; 
}
input:focus:-ms-input-placeholder { 
    color:transparent; 
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.show-flex {
    display: flex !important;
}
.archieve {
    opacity: 0.5;
}
/* Sidebar menu styles start */
.sidebar-menu {
    position: relative;
    position: fixed;
    width: 200px;
    min-height: 100vh;
    height: 100%;
    background-color: #3A3F6C;
    color: #fff;
    padding-top: 20px;
    transition: all .3s linear;
    z-index: 9999;
}
.sidebar-menu__logo {
    margin-bottom: 15px;
    padding-left: 25px;
    transition: all .3s linear;
}
.sidebar-menu__logo_collapse {
    display: flex;
    padding-left: 0;
    margin: 0 auto 15px;
    transition: all .3s linear;
}
.burger {
    display: none;
    position: absolute;
    top: 21px;
    right: 15px;
    width: 23px;
    height: 10px;
    cursor: pointer;
}
.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}
.burger__line:first-child {
    margin-bottom: 6px;
}
.burger__line_mob {
    width: 11px;
}
.menu-user {
    display: flex;
    align-items: center;
}
.menu-user__image {
    width: 69px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #515687;
}
.menu-user__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    font-size: 16px;
    height: 69px;
}
.wallet {
    position: relative;
    padding-left: 20px;
    font-size: 12px;
    font-family: 'jost';
}
.wallet::before {
    content: '';
    display: block;
    width: 12px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url(../images/icons/wallet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}
.menu-nav__item {
    padding: 25px 20px 25px 25px;    
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
.menu-nav__icon {
    margin-right: 25px;
}
.menu-nav__item:hover {
    padding: 25px 20px 25px 35px;
} 
.menu-nav__item.active {
    border-left: 4px solid #898EBB;
    background: -webkit-linear-gradient(-90deg, rgb(58, 63, 108, 0.3), rgb(196, 196, 196, 0.3));
    background: -moz-linear-gradient(-90deg, rgb(58, 63, 108, 0.3), rgb(196, 196, 196, 0.3));
    background: linear-gradient(-90deg, rgb(58, 63, 108, 0.3), rgb(196, 196, 196, 0.3));
    background-size: 145px 70px;
    background-repeat: no-repeat;
}
.content-list {
    position: relative;
    height: 0px;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.content-list__item {
    display: none;
    padding-right: 30px;
}
.content-list__item.active {
    display: block;
}
.menu-collapse {
    position: absolute;
    bottom: 45px;
    left: 25px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s linear;
}
.menu-collapse:hover {
    transform: scale(.95);
}
.menu-collapse__icon {
    margin-right: 23px;
}
.menu-collapsed {
    display: none;
    position: absolute;
    bottom: 45px;
    left: 25px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s linear;
}
.menu-collapsed:hover {
    transform: scale(.95);
}
/* Sidebar menu styles end */

/* Main content styles start */
.content {
    width: 100%;
    padding: 45px 0 0 280px;
}
.header {
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 20px;
}
.header_template {
    padding: 10px 14px 10px 23px;
}
.header_stat {
    padding: 7px 8px 14px 8px;
}
.header__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.header__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.header__wrapper:first-child {
    margin-bottom: 10px;
}
.header__date {
    width: 292px;
    margin-right: 43px;
}
.filter {
    margin: 0 12px 0 45px;
    display: flex;
    align-items: center;
}
.filter_template {
    margin: 0;
}
.filter__text {
    margin-right: 18px;
    font-size: 13px;
}
.filter__text_template {
    margin-right: 30px;
}
.filter-select {
    width: 223px;
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
    padding: 14px 18px;
    font-size: 12px;
    background-image: url(../images/icons/arr-select-down.svg);
    background-repeat: no-repeat;
    background-size: 8px 5px;
    background-position: 194px 18px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}
.filter-select_template {
    width: 149px;
    background-image: none;
    margin-right: 8px;
}
.table {
    background-color: #ffffff;
    margin-bottom: 20px;
}
.header-template {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEEFF6;
}
.header-template__title {
    padding: 17px 20px;
    font-size: 18px;
}
.header-template__button {
    width: 205px;
    margin-left: auto;
    padding: 22px 45px;
    font-size: 11px;
    text-transform: uppercase;
    border-left: 1px solid #EEEFF6;
    background-image: url(../images/icons/plus-dark.svg);
    background-repeat: no-repeat;
    background-size: 9px 9px;
    background-position: 27px 24px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s linear;
}
.header-template__button:hover {
    color: #2D40EA;
}
.header-template__button-company {
    width: 225px;
}
.table {
    position: relative;
}
.table_stat::after {
    content: '';
    display: block;
    width: 24px;
    height: 32px;
    position: absolute;
    right: -14px;
    top: 0;
    background-image: url(../images/icons/plus-more.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}
.table__row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 2fr 5fr 1fr;
    transition: all .3s linear;
}
.table__row:hover {
    background-color: #F7F7FE;
}
.table__row_template {
    grid-template-columns: 30px 75px 1fr 2fr 2fr 3fr 1fr 1fr 70px 1fr 87px;
    padding: 0 14px 0 18px;
}
.table__row_company {
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr 1fr 1fr 1fr 1fr 50px;
    padding: 0 14px 0 18px;
}
.table__row_niche {
    grid-template-columns: 30px 75px 2fr 3fr 6fr 2fr 2fr 1fr;
    padding: 0 14px 0 18px;
}
.table__row_stat {
    display: flex;
    padding: 0 18px;
}
.table__row_token {
    position: relative;
    grid-template-columns: 1fr 4fr 2fr 2fr 2fr 2fr 4fr 1fr;
    padding: 0 14px 0 18px;
}
.arrows {
    display: none;
    margin-left: 7px;
    width: 10px;
    cursor: pointer;
}
.table__row {
    border-bottom: 1px solid #EEEFF6;
}
.table__row:last-child {
    border-bottom: none;
}
.table__row_total {
    background-color: #E3FFF0;
}
.table__row_total:hover {
    background-color: #b8ebd0;
}
.table-cell {    
    padding: 12px 18px;
}
.table-cell_template {
    display: flex;
    align-items: center;
    padding: 12px 3px;
}
.table-cell_stat {
    flex: 1;
}
.table-cell_edits {
    justify-content: space-between;
}
.table-cell_token {
    padding: 3px 3px;
    line-height: 34px;
    display: flex;
    align-items: center;
}
.table-cell_niche {
    padding: 14px 3px;
}
.table-cell_mob {
    opacity: 0;
}
.table-cell_image {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
}
.table-cell__prod {
    width: auto;
    height: auto;
    object-fit: contain;
}
.table-cell__flag {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.table-cell__pic {
    margin-right: 5px;
}
.table-cell__text {
    font-size: 11px;
    color: #7C80A1;
}
.table-cell__text_date {
    font-family: 'jost';
}
.table-cell__text_bold {
    font-family: 'jost';
    font-weight: 700;
}
.table-cell__block {
    display: flex;
    align-items: center;
}
.table-cell__icon {
    margin-left: 10px;
    cursor: pointer;
}
.token-row__inner {
    position: relative;
}
.stat-up {
    position: relative;
    padding-left: 4px;
    color: #40BD20;    
}
.stat-up::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 5px;
    position: absolute;
    right: -11px;
    top: 2px;
    background-image: url(../images/icons/arr-stat-up.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.stat-down {
    position: relative;
    padding-left: 4px;
    color: #D43B3B;
}
.stat-down::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 5px;
    position: absolute;
    right: -11px;
    top: 3px;
    background-image: url(../images/icons/arr-stat-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.table-cell_arrows {
    display: flex;
    align-items: center;
}
.table-cell__head {
    font-size: 11px;
}
.table-cell__head_upper {
    text-transform: uppercase;
}
.edits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.edits__item {
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.edits__item_info {
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/info.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.edits__item_close {
    width: 16px;
    height: 16px;
    background-image: url(../images/icons/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.edits__item_delete {
    width: 12px;
    height: 15px;
}
.edits__item_eye {
    width: 18px;
    height: 12px;
}
.edits__item_niche {
    width: 18px;
    height: 19px;
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
}
.edits__icon {
    width: 100%;
    transition: all .3s linear;
}
.edits__icon:hover {
    filter: invert(4%) sepia(7%) saturate(5645%) hue-rotate(81deg) brightness(28%) contrast(59%);
}
.edits_token {
    width: 16px;
    height: 16px;
    justify-content: flex-end;
    position: absolute;
    right: 14px;
    top: 13px;
    z-index: 2;
}
.search {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.search:after {
    content: '';
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 16px;
    right: 13px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Pagination styles start */
.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    background-color: #ffffff;
}
.pagination__control {
    font-size: 13px;
    color: #3A3F6C;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
}
.pagination__control:hover {
    color: #2D40EA;
}
.pagination__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 44px;
}
.pagination__button {
    width: 41px;
    height: 41px;    
    color: #3A3F6C;
    border: 1px solid transparent;
    font-family: 'jost';
    font-size: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s linear;
}
.pagination__button:hover {
    border: 1px solid #DCDEE9;
}
.pagination__button.active {
    border: 1px solid #DCDEE9;
}
/* Pagination styles end */

/* Add new template style start */
.templates__wrapper.hidden {
    display: none;
}
.templates-new{
    display: none;
}
.templates-new.active {
    display: block;
}
.templates-new__wrap {
    background-color: #ffffff;
}
.template-form {
    padding: 36px 38px 36px 31px;
}
.template-form__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 25px;
    margin-bottom: 25px;
}
.template-form__inner_no-mrg {
    margin-bottom: 0;
}
.template-form__inner_two {
    justify-content: flex-start;
}
.template-form__field {
    display: flex;
    flex-direction: column;
}
.template-form__field_one {
    width: 53%;
}
.template-form__field_two {
    width: 45%;
}
.template-form__field_three {
    width: 53%;
}
.template-form__field_four {
    width: 191px;
}
.template-form__field_five {
    width: 276px;
}
.template-form__field_six {
    width: 53%;
}
.template-form__field_seven {
    width: 45%;
}
.template-form__field_eight {
    width: 282px;
}
.template-form__field_nine {
    width: 76%;
}
.template-form__field_ten {
    width: 269px;
}
.template-form__field_eleven {
    position: relative;
    width: 237px;
    display: flex;
    align-self: flex-end;
}
.template-form__field_eleven::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 12px;
    bottom: 11px;
    background-image: url(../images/icons/calendar-date.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.template-form__field_twelve {
    width: 130px;
}
.template-form__field_thirteen {
    width: 115px;
}
.template-form__label {
    font-size: 13px;
    margin-bottom: 10px;
}
.template-form__label_upper {
    text-transform: uppercase;
}
.template-form__span {
    color: #7C80A1;
}
.template-form__input {
    width: 100%;
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
    color: #7C80A1;
    font-size: 12px;
    padding: 10px 12px;
    outline: none;
}
.template-form__input::placeholder {
    font-size: 12px;
    color: #7C80A1;
}
.template-form__input_template {
    width: 93px;
}
.template-form__select-wrap {
    position: relative;
}
.template-form__select-wrap::after {
    content: '';
    display: block;
    width: 8px;
    height: 5px;
    position: absolute;
    right: 15px;
    top: 16px;
    background-image: url(../images/icons/arr-select-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.select {
    position: relative;
    display: block;
}
.select_filter {
    width: 149px;
    height: 44px;
    background-position: 125px 18px;
    margin-right: 8px;
}
.select_role {
    width: 223px;
}
.select__head {
    position: relative;
    height: 36px;
    color: #7C80A1;
    cursor: pointer;
}
.select__head::after {
    width: 8px;
    height: 5px;
    background-image: url(../images/icons/arr-select-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 15px;
    top: 16px;
    content: "";
    display: block;
    transition: .2s ease-in;
}
.select__head_filter {
    height: 44px;
    display: flex;
    align-items: center;
}
.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}
.select__head_geo, .select__item_geo {
    display: flex;
    align-items: center;
}
.select__image {
    width: 26px;
    height: 17px;
    object-fit: contain;
    display: block;
    margin-right: 14px;
}
.select__text {
    padding-top: 2px;
    color: #7C80A1;
}
.select__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
    box-shadow: 0px 4px 12px #CED0E0;
    margin-top: 5px;
    max-height: 205px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    margin: 0;
    padding: 0;
    color:#3A3F6C;
    scrollbar-color: dark;
    scrollbar-width: thin;
    overscroll-behavior: contain;
}
.select__list::-webkit-scrollbar {
    width: 7px;
    background-color: #F8F9FA;
    padding: 5px;
}
.select__list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D9D9D9;
}
.select__item, .select__field {
    position: relative;
    border-top: 1px solid #DEE0EE;
    padding: 7px 15px;
    cursor: pointer;
    list-style-type: none;
}
.select__item:hover, .select__field:hover {
    background-color: rgba(224, 229, 231, 0.5);
}
.select__field_add {
    position: relative;
}
.select__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #3A3F6C;
    background-image: url(../images/icons/plus.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
}
.select__input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    color: #A2A4AF;
    font-size: 11px; 
    font-family: 'circe';
    background-color: transparent;
    outline: none;
}
.select__input::placeholder {
    color: #A2A4AF;
    font-size: 11px;    
}
.template-form__select {
    width: 100%;
    background-color: #EEEFF6;
    border: 1px solid #DEE0EE;
    padding: 10px 12px;
    font-size: 12px;
    color: #7C80A1;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
}
.template-form__option {
    font-size: 12px;
    color: #7C80A1;
}
.template-form__file {
    width: 282px;
    display: flex;
    align-self: flex-end;
}
.upload-file__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}
.upload-file__label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.upload-file__label .upload-file__text {
    transition: .25s ease;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile:focus {
    outline: none;
}
.upload-text {
    margin-left: 19px;
    font-size: 11px;
    color: #7D82A4;
}
.upload-name {
    min-width: 129px;
    padding: 10px 5px;
    min-height: 37px;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase; 
    padding: 12px 5px;
    background-color: #707387;
    box-shadow: 0px 2px 12px rgba(112, 115, 135, 0.44);
}
.upload-name_active {
    padding: 12px 25px 10px 36px;
    background-image: url(../images/icons/document.svg);
    background-repeat: no-repeat;
    background-position: 10px 11px;
    background-size: 16px;
}
/* Add new template style eng */
/* Niche style start */
.niche {
    display: none;
    background-color: #ffffff;
    margin-top: 30px;
    overflow: hidden;
}
/* Niche style eng */
/* Token info styles start */
.token-info {
    display: none;
    width: 100%;
    padding-top: 23px;
    background: #F7F7FE;
    box-shadow: 0px 14px 22px rgb(167 172 204 / 44%);
}
.token-info__token {
    display: flex;
    align-items: center;
    padding: 0 35px 10px 35px;
}
.token-info__header {
    margin-right: 26px;
}
.token-info__name {
    width: 100%;
    height: 43px;
    padding: 13px 16px;
    background-color: #FFFFFF;
    border: 1px solid #DEE0EE;
}
.token-info__inner {
    display: flex;    
}
.token-info__block {
    position: relative;
    width: 50%;
    margin: 0 15px;
}
.token-info__block_line::after {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background-color: #E4E5ED;
    box-shadow: 1px 0px 0px #FFFFFF;
    position: absolute;
    right: -15px;
    top: 0;
}
.token-info__title {
    padding: 10px 0 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
}
.token-info__columns {
    display: flex;
}
.token-info__column {
    width: 50%;
}
.token-info__head {
    font-size: 13px;
    padding: 0 0 10px 20px;
    font-family: 'jost';
    font-weight: 700;
    border-bottom: 1px solid #E4E5ED;
}
.token-info__text {
    min-height: 33px;
    color: #7C80A1;
    padding: 7px 0 7px 20px;
    border-bottom: 1px solid #E4E5ED;
}
.token-info__text_bold {
    font-weight: 700;
}
/* Token info styles end */

/* Administrate styles start */
.administrate {
    display: none;
}
.administrate__block {
    margin-bottom: 30px;
    background-color: #ffffff;    
}
.administrate__head {
    display: flex;
    align-items: center;
    padding: 19px 30px;
    border-bottom: 1px solid #EEEFF6;
    font-size: 18px;
    font-weight: 700;
}
.administrate__icon {
    margin-right: 17px;
}
.administrate__wrap {
    padding: 35px 30px;
}
.administrate__inner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.administrate__text {
    font-size: 13px;
    min-width: 180px;
    margin-right: 20px;
}
.administrate__text_date {
    font-family: 'jost';
    color: #7C80A1;
}
.checkbox__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox__label {
    width: 18px;
    height: 18px;
    background-color: #EEEFF6;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}
.checkbox__label::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    flex-grow: 0;
}
.checkbox__input:checked+.checkbox__label::before {    
    background-color: #3A3F6C;    
}
.checkbox__input:checked+.checkbox__label {
    border: 1px solid #3A3F6C;
}
.administrate__title {
    margin: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 700;
}
.administrate-form__block {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.field_administrate {
    width: 155px;
}
.administrate-form__label {
    min-width: 130px;
    display: block;
    margin-right: 30px;
}
.administrate-form__button {
    padding-top: 20px;
}
.field-error {
    margin-left: 18px;
    color: #F63939;
}
/* Administrate styles end */
/* Main content styles end */

/* MEDIA QUERIES */

@media (max-width: 1500px) {
    .content {
        padding: 45px 0 0 240px;
    }
}
@media (max-width: 1340px) {
    .header__wrapper_wrap {
        flex-wrap: wrap;
    }
    .header__date {
        margin-bottom: 10px;
    }
    .filter_template {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .field_mrg:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 1198px) {
    .content {
        padding: 45px 0 0 220px;
    }
}
@media (max-width: 1178px) {
    .search {
        margin: 10px 0 0 0;
    }    
    .template-form__field_twelve {
        width: 150px;
    }
    .template-form__field_thirteen {
        width: 130px;
    }
    .table__row_template {
        grid-template-columns: 30px 75px 1fr 2fr 2fr 3fr 1fr 2fr 70px 1fr 87px;
    }
}
@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
    .sidebar-menu {
        position: relative;
        width: 100%;
        min-height: auto;
        height: 50px;
        padding: 15px 0;
        z-index: 9999;
    }
    .sidebar-menu__logo {
        margin: 0;
        width: 100px;
        display: flex;
        z-index: 9999;
    }
    .menu-collapse {
        display: none;
    }
    .sidebar-menu__inner {        
        width: 100%;
        position: absolute;
        background-color: #3A3F6C;
        top: 49px;
        transform: translateY(-1000px);
        transition: all 1s linear;
    }
    .sidebar-menu__inner.open {
        transform: translateY(0);
    }
    .content {
        padding: 24px 15px 0 15px;
    }
    .content-list__item {
        padding-right: 0;
    }
    .burger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .search {
        margin: 0 0 0 10px;
    }
    .header__date {
        width: 184px;
        margin-right: 5px;
        margin-bottom: 0;
    }
    .table-cell {
        padding: 12px;
    }
    .table__row_template {
        padding: 0 12px;
    }
    .table__row_stat {
        padding: 0 12px;
    }
    .table-cell_template {
        padding: 12px 3px;
    }
}
@media (max-width: 968px) {
    .search {
        margin: 0;
    }
    .table__row_company {
        padding: 0 12px;
    }
    .table-cell {
        padding: 10px;
        display: flex;
        align-items: center;
    }
    .edits {
        width: 100%;
    }
    .table-cell__pic {
        width: 20px;
    }
    .header__date {
        margin-bottom: 5px;
    }
    .table_stat::after {
        width: 15px;
        height: 20px;
        right: -9px;
    }
    .table-cell_template {
        padding: 12px 3px;
    }
}
@media (max-width: 958px) {
    .search {
        margin-top: 5px;
    }
    .table__row_template {
        grid-template-columns: 30px 50px 50px 2fr 2fr 3fr 1fr 2fr 70px 1fr 87px;
    }
}
@media (max-width: 916px) {
    .table__row_token {
        grid-template-columns: 1fr 5fr 3fr 2fr 1fr 2fr 3fr 1fr;
    }
}
@media (max-width: 887px) {
    .template-form__field_eight {
        width: 225px;
    }
    .template-form__field_eleven {
        width: 220px;
    }
}
@media (max-width: 820px) {
    .pagination__inner {
        margin: 0 25px;
    }
}
@media (max-width: 768px) {
    .table__wrapper {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .table__wrapper::-webkit-scrollbar {
        width: 50px;
        background-color: #B2B5CB;
        height: 6px;
    }
    .table__wrapper::-webkit-scrollbar-thumb {
        background-color: #DFE1EF;
    }
    .table__row {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        padding: 0;
    }
    .table-cell {
        padding: 0 16px;
        min-height: 51px;
        min-width: 130px;
        border-bottom: 1px solid #EEEFF6;
    }
    .pagination__button_mob {
        display: none;
    }
    .pagination__inner {
        justify-content: center;
    }
    .main-title {
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .content {
        padding: 12px 15px 0 15px;
    }
    .header {
        padding: 15px;
    }
    .header__inner {
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;
    }
    .button_new-user {
        margin-bottom: 15px;
        width: 100%;
    }
    .filter {
        width: 100%;
        margin: 0 0px 10px 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .select_role {
        width: 100%;
    }
    .select_filter {
        margin-right: 0;
    }
    .filter__text {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .button_mob {
        width: 100%;
    }
    .edits {
        width: 52px;
    }
    .select_filter {
        width: 100%;
    }
    .filter__text_search {
        display: none;
    }
    .search {
        width: 100%;
    }
    .field_search {
        width: 100%;
        margin-top: 10px;
    }
    .field_search::placeholder {
        color: #3A3F6C;
    }
    .select__head::after {
        top: 18px;
    }
    .edits_template {
        width: 75px;
    }
    .template-form__inner_wrap {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .template-form__field_nine {
        width: 54%;        
    }
    .template-form__field_eight {
        width: 47%;
        margin-bottom: 15px;
    }
    .template-form__field_ten {
        width: 48%;
        margin-bottom: 15px;
    }
    .template-form__field_eleven {
        width: 47%;
    }
    .template-form__field_twelve {
        width: 47%;
    }
    .template-form__field_thirteen {
        width: 48%;
    }
    .template-form__input_template {
        width: 100%;
    }
    .table-cell_mob {
        opacity: 1;
    }
    .table-cell__prod {
        width: 50px;
        height: 30px;
    }
    .header__date {
        width: 100%;
        margin-bottom: 24px;
        margin-right: 0;
    }
    .field_big {
        width: 100%;
        margin-right: 0;
    }
    .field_little {
        width: 100%;
        margin-right: 0;
    }
    .table_stat::after {
        display: none;
    }
    .table-cell__text_stat {
        display: flex;
        width: 100px;
    }
    .filter-select_template {
        width: 100%;
        margin-right: 0;
    }
    .field_token {
        width: 100%;
        margin-right: 0;
    }
    .edits_token {
        position: static;
        margin-top: 15px;
    }
    .table__row_token {
        display: block;
    }
    .token-row__inner {
        position: static;
    }
    .template-form__select-wrap {
        width: 100%;
    }
    .template-form__field_five {
        width: 50%;
    }
    .template-form__field_four {
        width: 50%;
    }
    .template-form__inner_no-mrg {
        width: 100%;
    }
    .template-form__field_three {
        width: 65%;
    }
    .pagination {
        position: relative;
    }
    .token-info {
        position: absolute;
        left: 0;
        margin-top: 25px;
    }
    .filter__text_template {
        margin-bottom: 0;
    }
    .field_big::placeholder, .field_little::placeholder {
        font-size: 11px;
    }
}
@media (max-width: 690px) {
    .template-form__inner {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0;    
    }
    .template-form__field {
        margin-bottom: 12px;
    }
    .template-form__field_one {
        width: 100%;
    }
    .template-form__field_two {
        width: 100%;
    }
    .template-form__field_three {
        width: 100%;
    }
    .template-form__field_four {
        width: 100%;
    }
    .template-form__field_five {
        width: 100%;
    }
    .template-form__field_six {
        width: 100%;
    }
    .template-form__field_seven {
        width: 100%;
    }
    .template-form__field_eight {
        width: 100%;
    }
    .template-form__field_nine {
        width: 100%;
    }
    .template-form__field_ten {
        width: 100%;
    }
    .template-form__field_eleven {
        width: 100%;
    }
    .template-form__field_twelve {
        width: 100%;
    }
    .template-form__field_thirteen {
        width: 100%;
    }
    .template-form__file {
        align-self: flex-start;
        margin: 10px 0 20px 0;
    }
    .template-form {
        padding: 20px 15px;
    }
}
@media (max-width: 620px) {
    .token-info {
        padding-top: 20px;
    }
    .token-info__token {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 15px 15px 15px;
    }
    .token-info__header {
        margin: 0 0 11px 0;
    }
    .token-info__name {
        height: 40px;
        padding: 12px 16px;
    }
    .token-info__block {
        margin: 0;
    }
    .token-info__block_line::after {
        display: none;
    }
    .token-info__title {
        padding: 0 0 5px 15px;
        font-size: 15px;
    }
    .token-info__head {
        padding: 0 0 5px 15px;
    }
    .token-info__text {
        padding: 7px 0 7px 15px;
    }
}
@media (max-width: 550px) {
    .token-info__inner {
        flex-direction: column;
    }
    .token-info__block {
        width: 100%;
    }
    .token-info__block_line {
        padding-bottom: 15px;
    }
    .token-info__text:last-child {
        border: none;
    }
}
@media (max-width: 515px) {
    .template-form__buttons {
        display: flex;
        flex-direction: column;
    }
    .button_save {
        width: 100%;
        margin-bottom: 12px;
        font-size: 12px;
        height: 49px;
    }
    .button-reset {
        width: 100%;
        font-size: 12px;
        height: 49px;
        margin-left: 0;
    }
    .template-form__input {
        height: 40px;
    }
    .select__head::after {
        top: 15px;
    }
    .header-template__title {
        padding: 14px 15px;
        font-size: 16px;
    }
    .header-template__button {
        width: 170px;
        background-position: 20px 16px;
        padding: 13px 15px 13px 34px;
    }
    .table-cell {
        justify-content: flex-start;
    }
    .header-template__button-company {
        width: 185px;
    }
}
@media (max-width: 480px) {
    .sidebar-menu__logo {
        width: 82px;
        height: 21px;
        margin: 0 auto;
        padding-left: 0;
    }
    .main-title {
        font-size: 20px;
        line-height: 20px;
        margin: 10px 0 20px 0;
    }
    .administrate__head {
        padding: 10px 15px;
        font-size: 16px;
    }
    .administrate__icon {
        margin-right: 15px;
        width: 12px;
    }
    .administrate__wrap {
        padding: 13px 15px 20px 15px;
    }
    .administrate__text {
        min-width: 169px;
    }
    .administrate__text_date {
        margin-right: 0;
    }
    .checkbox__label {
        width: 19px;
        height: 19px;
    }
    .checkbox__label::before {
        width: 9px;
        height: 9px;
    }
    .administrate__title {
        margin: 15px 0 12px 0;
        font-size: 16px;
    }
    .administrate-form__block {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 12px;
    }
    .administrate-form__label {
        font-size: 12px;
        margin: 0 0 10px 0;
        min-width: auto;
    }
    .field_administrate {
        width: 100%;
        height: 40px;
    }
    .administrate-form__button {
        padding-top: 10px;
    }
    .button_administrate {
        width: 100%;
    }
    .administrate__block {
        margin-bottom: 15px;
    }
    .field-error {
        margin: 5px 0 0 0;
    }
    .button_new-user {
        font-size: 12px;
        background-position: 15px 15px;
    }
    .filter__text {
        font-size: 12px;
    }
    .administrate__text_date {
        min-width: auto;
    }
    .pagination {
        padding: 8px 15px;
    }
    .pagination__inner {
        margin: 0 15px;
    }
    .sidebar-menu__inner {
        min-height: 100vh;
    }
}
@media (max-width: 375px) {
    .pagination__control {
        font-size: 11px;
    }
    .pagination__button {
        width: 35px;
        height: 35px;
    }
    .pagination__inner {
        margin: 0 8px;
    }
}